.a{
    font-size: 14px;
    text-align: justify;
    font-display: grid;
}
body{
    padding-left: 30%;
    text-align: justify;
    text-justify: inter-word;
}
.b{
    padding-left: 10%;
}
.c{
    padding-left: 15%;
}
h4{
    font-weight: 500;
}